<!DOCTYPE html>
<html lang="en">
{% include 'assets/header.html' %}
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Infotech</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

</head>
<style>
    .news img {
        border-radius: 8%;

    }
</style>

<body class="bg-gray-900">
    <!-- NavBar -->


    <!-- Latest updates grid -->

    <div id="grid-carousal" class="grid grid-cols-1  lg:grid-cols-3 gap-4 m-3 justify-items-center m-3">
        <div class="block bg-black transition ease-in-out duration-300 transform hover:scale-105 p-2 rounded-xl">

            <img class="rounded-md" src="{% static 'images/2.jpg'%}" alt="">
            <h1 class=" text-white  text-xl md:text-2xl font-semibold z-10  ">
                Apple WWDC 2021: Dates, iOS 15, macOS 12 Features and What More to Expect
            </h1>

        </div>
        <div class="block bg-black transition ease-in-out duration-300 transform hover:scale-105 p-2 rounded-xl">

            <img class="rounded-md" src="{% static 'images/3.jpg'%}" alt="">
            <h1 class=" text-white  text-xl md:text-2xl font-semibold z-10  ">
                macOS 12: Release Date, New Features, Supported Devices, and More
            </h1>

        </div>
        <div class="block bg-black transition ease-in-out duration-300 transform hover:scale-105 p-2 rounded-xl">

            <img class="rounded-md" src="{% static 'images/1.jpg'%}" alt="">
            <h1 class=" text-white  text-xl md:text-2xl font-semibold z-10  ">
                21 Best New Android 12 Features Coming to Your Phone
            </h1>

        </div>
    </div>

    <!-- Latest news sections -->
    <div class="flex justify-between md:flex-row flex-col">
        <!-- news updates -->
        <div class="  bg-white  md:w-9/12 lg:w-6/12 m-3 rounded  pt-5 ">
            <h1 class="text-3xl font-bold px-4 border-b-4 border-blue-500 mb-3 mx-1">
                Latest News
            </h1>
            <div class="w-10/12 flex news justify-center flex-col space-y-5 ">
                <div class="">
                    <img class="h-48 float-left px-4  transition ease-in-out duration-300 transform hover:scale-105"
                        src="{% static 'images/2.jpg'%}" alt="">
                    <h1 class=" px-4  text-xl md:text-2xl font-semibold   ">
                        Apple WWDC 2021: Dates, iOS 15, macOS 12 Features and What More to Expect
                    </h1>
                </div>
                <div>
                    <img class="h-48 float-left px-4 transition ease-in-out duration-300 transform hover:scale-105"
                        src="{% static 'images/3.jpg'%}" alt="">
                    <h1 class="  px-4 text-xl md:text-2xl font-semibold   ">
                        macOS 12: Release Date, New Features, Supported Devices, and More

                    </h1>
                </div>
                <div>
                    <img class="h-48 float-left px-4  transition ease-in-out duration-300 transform hover:scale-105"
                        src="{% static 'images/1.jpg'%}" alt="">
                    <h1 class=" px-4  text-xl md:text-2xl font-semibold   ">
                        21 Best New Android 12 Features Coming to Your Phone
                    </h1>
                </div>
            </div>

        </div>

        <!-- Blogs updates  -->
        <div class=" bg-white  md:w-9/12 lg:w-6/12 m-3 rounded  pt-5">
            <h1 class="text-3xl font-bold px-4 border-b-4 border-blue-500 mb-3 mx-1">
                Popular Blogs
            </h1>
            <div class="w-10/12 flex news justify-center flex-col space-y-5 ">
                <div class="">
                    <img class="h-48 float-left px-4 transition ease-in-out duration-300 transform hover:scale-105  "
                        src="{% static 'images/b2.webp'%}" alt="">
                    <h1 class=" px-4  text-xl md:text-2xl font-semibold   ">
                        Elon Musk Says He Has Not and “Won’t Sell Any Doge”
                    </h1>
                </div>
                <div class="">
                    <img class="h-48 float-left px-4 transition ease-in-out duration-300 transform hover:scale-105 "
                        src="{% static 'images/b1.webp'%}" alt="">
                    <h1 class=" px-4  text-xl md:text-2xl font-semibold   ">
                        OnePlus to Launch New 40-Inch Smart TV on 24 May in India
                    </h1>
                </div>
            </div>
        </div>
    </div>
</body>

</html>