<!DOCTYPE html>
<html lang="en">
{% include 'assets/header.html' %}
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Infotech</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

</head>
<style>

    .news img {
        border-radius: 8%;

    }
</style>

<body class="bg-gray-900 ">
    <!-- NavBar -->


    <!-- Latest updates grid -->

    <div id="grid-carousal" class="sm:grid flex flex-col  justify-center  lg:grid-cols-3 gap-4 m-3 sm:justify-items-center m-3">
        {% for n in news %}
        <a href="news#{{n.nId}}" class="block bg-black transition ease-in-out duration-300 transform hover:scale-105 p-2 rounded-xl">

            <img class="rounded-md sm:h-96" src="{{n.nPic.url}}" alt="">
            <h1 class=" text-white  text-xl md:text-2xl font-semibold z-10  ">
                {{ n.nHeadline}}
            </h1>

        </a>
        {% endfor %}
    </div>

    <!-- Latest news sections -->
    <div class="flex justify-between  md:flex-row flex-col ">
        <!-- news updates -->
        <div class="  bg-white  md:w-9/12 lg:w-6/12 m-3 rounded  pt-5 pb-10  ">
            <h1 class="text-3xl font-bold px-4 border-b-4 border-blue-500 mb-3 mx-1">
                LATEST NEWS
            </h1>
            <div class="w-10/12 flex news justify-center flex-col space-y-5 w-full  ">
                {% for n in news2 %}
                <a href="news#{{n.nId}}" class="flex justify-center rounded mx-8 my-3 flex-col md:flex-row  w-10/12">
                    <img class="h-48 w-80 float-left px-4  transition ease-in-out duration-300 transform hover:scale-105"
                        src="{{n.nPic.url}}" alt="">
                    <h1 class=" px-4 mt-8 text-xl md:text-2xl font-semibold   ">
                        {{ n.nHeadline}}
                    </h1>
                </a>
                {% endfor %}
            </div>

        </div>

        <!-- Blogs updates  -->
        <div class=" bg-white  md:w-9/12 lg:w-6/12 m-3 rounded  pt-5">
            <h1 class="text-3xl font-bold px-4 border-b-4 border-blue-500 mb-3 mx-1">
                POPULAR BLOGS
            </h1>
            <div class="w-10/12 flex news justify-center flex-col space-y-5 ">
                {% for b in blogs %}
                <a  href="blogs#{{b.bId}}" class="flex justify-center rounded mx-8 my-3 flex-col md:flex-row  w-10/12">
                    <img class="h-48 w-80 float-left px-4 transition ease-in-out duration-300 transform hover:scale-105  "
                        src="{{b.bPic.url}}" alt="">
                    <h1 class=" px-4 mt-8 text-xl md:text-2xl font-semibold   ">
                        {{ b.bHeadline}}
                    </h1>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
</body>

</html>